.answers{
    background-color: #A5C2F4;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 60px;
    border-radius: 14px;
}
.answer-header{
    text-align: center;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #1A3A5E;
}
.answer-fields{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style-type: decimal;
    min-width: 150px;
}
.answer-field{
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}

@media (max-width: 700px) {
   .answers{
       margin: 10px;
   }
}