.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.container h1{
  color: #1A3A5E;
  height: 50px;
}
.main-container{
  display: flex;
  column-gap: 20px;
  z-index: 3;
}
.calculator{
  position: relative;
  padding: 30px 60px;
  background-color: #A5C2F4;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.graphic-input{
  padding: 10px 15px;
  background-color: #EFEFEF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-sizing: border-box;
  row-gap: 10px;
  justify-content: center;
}
.graphic-input input{
  background-color: #D9D9D9;
  border: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.buttons button{
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}
.buttons-operators{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 20px;
  justify-items: start;
}
.enterRoot{
  width: 100%;
  background-color: #FFFFFF;
  height: 60px;
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}

.buttons-nums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 20px;
}

.decimal-places{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #1A3A5E;
}


.support{
  padding: 0;
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
.support img{
  position: absolute;
  top: 6px;
  left: 6px;
  height: 64px;
  width: 64px;
  z-index: 5;
  filter: brightness(0) saturate(100%) invert(19%) sepia(52%) saturate(4215%) hue-rotate(266deg) brightness(65%) contrast(128%);
}
.support::before{
  position: absolute;
  width: 90px;
  height: 90px;
  content: "";
  top: -90px;
  left: -90px;
  background-color: #A5C2F4;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 50% 0;
  z-index: 0;
}
.support:hover::before{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #A5C2F4;
  pointer-events: none;
}
.supportBlock{
  top: 0;
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: #A5C2F4;
  transition: ease-in-out 0.3s;
  z-index: 4;
  border-right: 2px #4B0082 solid;
  display: flex;
  flex-direction: column;
}
.support-block{
  left: -200px;
}
.support-block-active{
  left: 0;
}

.supportBlock h2{

  color: #4B0082;
  text-align: right;
  margin-right: 20px;
}
.support-user{
  list-style-type: none;
  font-size: 13px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.support-user h3{
  font-size: 18px;
  color: #4B0082;
  margin: 10px 0;
}
.support-user li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  cursor: pointer;
}
.support-user a{
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.support-user li:hover {
  filter: brightness(0) saturate(100%) invert(19%) sepia(52%) saturate(4215%) hue-rotate(266deg) brightness(65%) contrast(128%);
}

.language{
  padding: 0;
  width: 90px;
  height: 90px;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
.language img{
  position: absolute;
  top: 6px;
  right: 6px;
  height: 64px;
  width: 64px;
  z-index: 5;
  filter: brightness(0) saturate(100%) invert(19%) sepia(52%) saturate(4215%) hue-rotate(266deg) brightness(65%) contrast(128%);
}
.language::before{
  position: absolute;
  width: 90px;
  height: 90px;
  content: "";
  top: -90px;
  right: -90px;
  background-color: #A5C2F4;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 0 50%;
  z-index: 0;
}
.language:hover::before{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #A5C2F4;
  pointer-events: none;
}
.languageBlock{
  padding: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: #A5C2F4;
  transition: ease-in-out 0.3s;
  z-index: 4;
  border-left: 2px #4B0082 solid;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
}
.language-block{
  right: -200px;
}
.language-block-active{
  right: 0;
}
.languageBlock h2{
  width: 60%;
  padding-top: 6px;
  color: #4B0082;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageBlock ul{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  row-gap: 15px;
}
.languageBlock ul button{
  border: none;
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
}
.languageBlock ul button:hover{
  color: #4B0082;
}

.error-message {
  background-color: #f8d7da; /* Светло-красный фон */
  color: #721c24; /* Темно-красный текст */
  border: 1px solid #f5c6cb; /* Легкая рамка */
  border-radius: 4px; /* Скругленные углы */
  padding: 15px; /* Отступы внутри */
  margin: 10px 0; /* Отступы сверху и снизу */
  font-family: Arial, sans-serif; /* Шрифт для текста */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.5; /* Межстрочный интервал */
}
@media (max-width: 945px) {
  .main-container{
    flex-direction: column;
    row-gap: 20px;
  }
  .container{
    height: 100%;
  }
}
@media (max-width: 700px) {
  .buttons{
    flex-direction: column;
    row-gap: 40px;
  }
  .container{
    height: auto;
  }
  .container h1 {
    font-size: 20px;
    margin-top: 75px;
  }
  .calculator{
    padding: 15px 30px;
    height: auto;
  }
  .buttons-nums{
    display: none;
  }
}